.ticker {
  background: black;
  bottom: 0;
  color: white;
  display: flex;
  font-family: Futura, 'Futura PT', sans-serif;
  font-weight: bold;
  height: 48px;
  line-height: 3;
  padding: 0 15px;
  position: fixed;
  width: 100%;
}
.category {
  color: yellow;
  font-variant: small-caps;
  margin-right: 15px;
  width: 60px;
}
.headline {
}
