.ticker {
  background: black;
  bottom: 0;
  color: white;
  font-family: Futura, 'Futura PT', sans-serif;
  font-weight: bold;
  padding: 15px;
  position: fixed;
  white-space: nowrap;
  width: 100%;
}
.category {
  color: yellow;
  display: inline-block;
  font-variant: small-caps;
  margin-right: 15px;
  width: 60px;
}
.headline {
  display: inline-block;
}
